<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.ucsal.colabmeiapp">
    <!-- Permissões Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permissões de Galeria e Câmera -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ComercioActivity"></activity>
        <activity android:name=".activity.CadastrarAnuncioActivity" />
        <activity
            android:name=".activity.MeusAnunciosActivity"
            android:label="@string/title_activity_meus_anuncios"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ucsal.colabmeiapp.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CadastroActivity"
            android:label="@string/titulo_telaCadastro"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>